@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'VCR OSD Mono';
  background-color: #121212;
  color: white;
}
